{% extends 'base.html' %}
{% block content %}

<header class="hero">
    <nav id="navbar" class="navbar top">
      <div class="nav-right">
          <a href=""><i class="far fa-user"></i></a>
          <a href=""><i class="fas fa-shopping-cart"></i></a>
          <a href="" class="active"><i class="fas fa-home "></i></a>
          <a href=""><i class="fas fa-search"></i></a>
      </div>
      <div class="nav-left">
          <div class="register-login-btn">
              <i class="fas fa-user"></i>
              <a href="#">ثبت نام / ورود</a>
          </div>
      </div>
    </nav>
    <div class="content">
      <div class="container">
            <h1> مزاج شناسی</h1>
            <p >مزاج‌ شناسی، علم گسترده‌ای است که کاربردهای جالبی برای تشخیص مشخصات فیزیکی و روحی هر فرد دارد و در تشخیص انواع بیماری‌ها و درمان آن‌ها بسیار کارآمد است.</p>    
      </div>
    </div>
  </header>
  <section class="info py-3">
    <div class="container">
      <h2>مزاج شناسی</h2>
      <p>مزاج‌ شناسی، علم گسترده‌ای است که کاربردهای جالبی برای تشخیص مشخصات فیزیکی و روحی هر فرد دارد و در تشخیص انواع بیماری‌ها و درمان آن‌ها بسیار کارآمد است. هر غذایی که می‌خوریم، تأثیرات مهمی بر تمامی اعضای بدن ما می‌گذارد. با شناسایی مزاج خود می‌توانیم از خوردن غذاهایی که برای ما مشکل‌ساز می‌شوند، پرهیز کنیم و بالعکس، غذاهایی که برای ما مفید هستند و به ذخیره‌سازی بیشتر انرژی کمک می‌کنند را بشناسیم. بین تمامی فاکتورهای سبک زندگی، رژیم غذایی به مراتب مؤثرترین و ساده‌ترین عاملی است که می‌تواند به طور کامل تحت کنترل شما باشد.</p>
      <br>
      <p>در علم مزاج شناسی، تمامی مواد غذایی با توجه به اینکه گرم، سرد، تر یا خشک هستند، طبقه‌بندی می‌شوند. این طبقه‌بندی غذاها، به مزاج‌های مختلف و تأثیراتی که هر یک از این مزاج‌ها بر روی خلق و خو و شرایط فیزیکی فرد می‌گذارد، مرتبط است. برای مثال شیر، گرم و تر است. مرغ، گرم و خشک است. اگر مواد غذایی که منطبق بر مزاج شخص است، بیش از حد مصرف شود، برای مثال مزاج فرد سرد است و بیشتر، مواد سرد مصرف کند می‌تواند بر سلامت شخص تأثیر منفی بگذارد و بالعکس.</p>
      <br>
      <h3>
        مزاج گرم و خشک(صفرا)
      </h3>
      <p>صفرا یک ماده ای است به رنگ مایل به زرد و سرخ و مزه مایل به تلخ که بعد از هضم کبدی به وجود میاید و وظایف زیادی از جمله تغذیه برخی از اندامهای خاص مانند ریه و کمک به دفع فضولات از بدن دارد. صفرا هم در جریان خون منتشر میشود و هم در کیسه صفرا که در زیر کبد قرار دارد ذخیره میشود تا در صورت نیاز بدن دوباره استفاده شود، معادل امروزی صفرا را میتوان “کلسترول” تعبیر کرد. البته بهتر است بگوییم کلسترول یکی از قسمت های صفرا است و صفرا تنها به کلسترول خلاصه نمیشود. صفرا نسبت به سایر اخلاط سبکتر است.</p>
      <p>صفرا را معادل آتش میدانند. رنگ زرد متمایل به سرخ دارد و طبع گرم و خشک دارد. بدیهی است به خاطر طبع گرم و خشکی که دارد بیشتر برای اندامهای گرم و خشک مانند قلب کارایی دارد.</p>
      <p>صفرا را کف روی خون و قسمت رقیق خون میدانند. به خاطر طبعی که دارد بلغم لزج را از اندامها دفع میکند، باز کننده سده ها و گرفتگی ها است و ایجاد تحرک و حرکت میکند.</p>
      <br>
      <h3>
        مزاج سرد و خشک (سودا)
      </h3>
      <p>
        ودا یکی از اخلاط چهار گانه (صفرا، سودا، دم، بلغم) است، تمامی خلط ها از هضم دوم یا هضم کبدی بوجود میایند. هر ماده غذایی برای هضم اول در معده و سپس در کبد مراحلی را طی میکند. وقتی ماده غذایی در معده هضم شد خروجی آن ترکیبی به نام کیلوس معدی است که به کبد انتقال پیدا میشود. بر اثر تاثیر حرارت کبد بر روی کیلوس معدی ۴ ماده به نام خلط تولید میشوند که سودا یکی از آنها است. سودا پس از اینکه تولید شد در جریان خون انتقال پیدا میکند تا به وظایف و عملکرد خود بپردازد، لازم است بدانید که بخشی از سودا هم در طحال ذخیره میشود تا هر وقت که نیاز شد به مصرف بدن برسد.
      </p>
      <p>
        سودا از غلظت زیادی برخوردار است،رنگ سودا سیاه و مزه گس و ترش دارد.سودا هم در خون و هم در طحال ذخیره می شود و مکان اصلی آن طحال است.سودا از بین بقیه اخلاط سنگین تر بوده و در واقع رسوب خون است.
      </p>
      <p>
        وظایف سودا :تغذیه برخی از اندام ها مانند استخوان و طحال.سودا به خاطر مزاج سرد و خشکی که دارد معادل خاک است ، خاک نمادی از استحکام و سفتی است،یکی دیگر از وظایف سودا استحکام بخشی از اندان های بدن است.یکی دیگر از وظایف سودا ایجاد انقباض و استحکام بخشی به اعصاب و پرزهای معده است...
      </p>
      <br>
      <h3>
        مزاج گرم و تر (دم)
      </h3>
      <p>
        خلط دم یا خلط خون را میتوان مهمترین نوع خلط در بدن دانست که وظایف بسیار مهمی دارد. خلط دم دارای مزاج گرم و تر است و در واقع از پخته شدن خلط بلغم به وجود می‌آید. وظیفه خلط دم خونرسانی و سلولسازی و انرژی سازی است. در واقع تنها غذای بدن همین خلط دم است و بقیه خلط ها (بلغم، صفرا، سودا) یا در بدن ذخیره هستند و یا کاربردهای دیگری دارند.
      </p>
      <p>
        کسانی که خلط دم در آنها زیاد باشد به اصطلاح دموی میگویند. افراد دموی معمولا اجتماعی هستند، توان جنسی بالایی دارند، قد و قامت بلندی دارند، افراد شجاعی بوده و در جمع بسیار خوش صحبت هستند، افراد دموی معمولا خوش خلق هستند، احتمال مبتلا شدن به بیماری های فشار خون بالا را دارند و در فصل بهار که فصل غلبه خلط خون است ممکن است دچار حساسیت فصلی بشوند.
      </p>
      <br>
      <h3>
        مزاج سرد و تر (بلغم)
      </h3>
      <p>
        بلغم دارای رنگ سفید یا مایل به بی رنگی است، مزاج سرد و تر دارد و عمدتا از غذاهای سرد و تر به وجود میاید. در واقع بلغم نوعی خلط است که در صورت نیاز تبدیل به خون خواهد شد. بلغمی تبدیل به خون خواهد شد که شیرین باشد و دارای قوام یا غلظت مناسب باشد. در واقع بلغم غذای ذخیره بدن است که در صورت ضرورت تبدیل به خون شده و به همه اعضای بدن میرسد.
      </p>
      <p>
        باید بدانید که بلغم مزاج نیست. به اشتباه در جامعه اصطلاح مزاج بلغمی یا مزاج صفراوی و .. رواج یافته که این نوع نگاه به بلغم درست نیست. بلغم خلط است، نوعی ماده است و کمبود یا مازاد آن بدن را دچار مشکلات بسیاری میکند. بلغم مناسب از نظر کمی و کیفی برای بدن ضروری است و فقط مقدار کم و زیاد آن و یا بلغم غیر طبیعی از نظر کیفی است که بدن را دچار بیماری و کسالت میکند.
      </p>
      <br>
      <a href="{% url 'test' %}" class="btn">تست مزاج شناسی</a>
    </div>
  </section>
{% endblock %}